# Runtime config values are automatically replaced by matching environment variables at runtime
# NUXT_API_SECRET=api_secret_token
# NUXT_PUBLIC_API_BASE=https://nuxtjs.org

NUXT_BASE_URL =
NUXT_API_URL =
NUXT_TAPPY_PUBLIC_KEY =
NUXT_TAPPY_SECRET_KEY = 
NUXT_TAMARA_API_TOKEN = 
NUXT_TAMARA_NOTIFICATION_TOKEN =